/* ペースト */

.original_rounded_lg_modal {
    border-radius: 20px;
}

.check {
    padding-left: 24px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bg_modal_base_color {
    background-color: #F5F5F8;
}
.modal-content {
    width: 900px;
    height: 550px;
    border-radius: 30px;
    right: 40%;
}

.check:before,
.check:after {
    content: "";
    display: block;
    position: absolute;
}

.check:before {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #CCCCCC;
    border: 1px solid #ffffff;
    left: 6px;
    top: 11px;
}

.check:after {
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    width: 8px;
    height: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 10px;
    top: 17px;
}






/* ヘッダー */

.headerInner {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 0 45px;
}

.headerInner_posse {
    height: 64px;
}

.headerInner_left {
    display: flex;
}

.headerInner_text {
    line-height: 64px;
    margin-left: 10px;
    color: #97b9d1;
}

.headerInner_Toukou {
    height: 64px;
    margin-right: auto;
}

.headerInner button {
    margin: 10px;
    border-radius: 30px;
    width: 160px;
    cursor: pointer;
    background-image: linear-gradient(45deg, #0672BE 0%, #4FD7FF 100%);
    font-size: 16px;
    box-shadow: 0 0 20px #0672BE;
    color: #fff;
    border: none;
}


/* main */

html {
    height: 100%;
    min-width: 330px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    height: 100%;
    background-color: aliceblue;
}

.container {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    max-height: 80%;
    height: 100%;
}


/* -------------------stydyTime----------------------- */

.studyTime {
    width: 50%;
    height: 100%;
}

.studyTime_box_title {
    color: #0f71bc;
    margin: 10px;
}

.number {
    font-size: 27px;
}

.studyTime_box_hour {
    color: #97b9d1;
}

.studyTime_boxes {
    display: flex;
    height: 25%;
    width: 100%;
}

.studyTime_box {
    border-radius: 10px;
    margin: 20px 10px;
    background-color: white;
    text-align: center;
    width: 33%;
}

.studyTime_barGraph_Box {
    border-radius: 10px;
    margin: 0 10px;
    background-color: white;
    height: 73%;
}

.studyTime_barGraph {
    width: 80%;
    margin: 10px 20px;
    margin-top: 40px;
}

#bargraph {
    height: 100%;
    /* width: 100%; */
    margin: 10px;
}


/* --------------------pieChart------------------------ */

.pieChart {
    display: flex;
    width: 50%;
    margin-top: 20px;
    /* height: 100%; */
}

.pieChart_box {
    border-radius: 10px;
    margin: 0 10px;
    background-color: white;
    width: 50%;
    height: 100%;
    padding: 0 20px;
}

.pieChart_box_title {
    font-size: 15px;
    /* margin: 30px 20px 0 20px; */
}

.pieChart_box_img {
    width: 80%;
}

#pieChart_contents {
    height: 50%;
    margin: 10px;
}

#pieChart_language {
    height: 50%;
    margin: 10px;
}

.circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #1754EF;
    border-radius: 50%;
    margin-right: 3px;
}

.js_color {
    background: #1754EF;
}

.css_color {
    background: #0F71BD;
}

.php_color {
    background-color: #20BDDE;
}

.html_color {
    background-color: #3CCEFE;
}

.laravel_color {
    background-color: #B29EF3;
}

.sql_color {
    background-color: #6D46EC;
}

.shell_color {
    background-color: #4A17EF;
}

.other_color {
    background-color: #3105C0;
}

.dotinstall_color {
    background-color: #1754EF;
}

.nyobi_color {
    background-color: #0F71BD;
}

.posse_color {
    background-color: #20BDDE;
}

.pieChart_box_legends{
    display: inline-block;
}

.legend{
margin-right: 10px;
margin: 20px 0;
}

/* --------------------footer --------------*/

.footer {
    margin-top: 30px;
}

.footer_text {
    text-align: center
}

.footer button {
    display: none;
}

.page_button{
    color: #0672BE;
    cursor: pointer;
}
/* -------------------modal------------------------ */

.modalContents {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
}

.modal_top {
    height: 80%;
    width: auto;
    margin: 0 56px;
    display: flex;
}

.modal_top_left {
    margin-right: 20px;
    width: 50%;
}

.modal_day_text {
    margin-top: 56px;
}

.modal_day_box {
    text-align: center;
    height: 56px;
    width: 100%;
    border-radius: 10px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_day_box input {
    text-align: center;
    height: 56px;
    width: 100%;
    border-radius: 10px;
    background-color: #ececec;
    border: solid 0px;
}

.modal_top_right {
    margin-left: 20px;
    width: 50%;
    height: 100%;
}

.modal_contents_text {
    margin-top: 25px;
}

.modal_top_right_tweetBox {
    height: 60%;
}

.modal_top_right form {
    height: 100%;
}

.tweetBox {
    width: 100%;
    height: 200px;
}

.modal_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_button button {
    margin: 10px;
    border-radius: 30px;
    height: 60px;
    width: 80%;
    background-image: linear-gradient(45deg, #0672BE 0%, #4FD7FF 100%);
    font-size: 16px;
    box-shadow: 0 0 20px #0672BE;
    color: #fff;
    border: none;
    cursor: pointer;
}

.success_img{
    display: none; 
    width: 100%;
}

.success_img img{
    height: 15%;
margin-left: 45%;
margin-top: 30%;
}


/* テェックボタン */

.modal_contents_choices label {
    background-color: #ececec;
    /* 背景色 */
    border-radius: 15px;
    /* 枠線の角丸 */
    padding: 2px 10px 2px 2px;
    /* 内側の余白 */
    margin-bottom: 8px;
    /* 外下の余白 */
    display: inline-block;
    /* 途中で改行させない */
    cursor: pointer;
    /* マウスを手形に */
}

.modal_contents_choices input[type="checkbox"]+label:before {
    border-radius: 50%;
}

.checkbox01 {
    background-color: #F5F4F9;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 1px 37px;
    position: relative;
    width: auto;
    height: 35px;
    border-radius: 50px;
    margin-left: 10px;
    line-height: 35px;
    text-align: right;
    user-select: none;
}

.checkbox01::before {
    background: #CCCCCC;
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    left: 7px;
    margin-top: -5px;
    position: absolute;
    top: 40%;
}

.checkbox01::after {
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    content: '';
    display: block;
    height: 10px;
    left: 14px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
    opacity: 1;
}

input[type="checkbox"] {
    display: none;
    /*デフォルトのチェックボックスを非表示にする*/
}


/* +labelでラベルの色がつく */

input[type="checkbox"]:checked+label {
    background: #31A9EE;
    /* マウス選択時の背景色を指定する */
    color: #ffffff;
    /* マウス選択時のフォント色を指定する */
}

input[type=checkbox]:checked+.checkbox01::before {
    background-color: #1270BA;
}

input[type=checkbox]:checked+.checkbox01::after {
    opacity: 1;
}

.modal_time_text {
    margin-top: 56px;
}

input.time_box {
    height: 56px;
    width: 99%;
    padding: 0;
    margin-bottom: 2px;
    border-radius: 10px;
    background-color: #ececec;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0px;
}

.modal_bottom {
    height: 10%;
    width: auto;
    margin: 0 56px;
}

textarea {
    background-color: #ececec;
    border-radius: 10px;
    border: none;
}


/* モーダルCSS */

.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}


/* サイズとかカエルとき */

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    border-radius: 15px;
    background-color: #fff;
    min-width: 330px;
    display: flex;
}

.closeModal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    border-radius: 100%;
    color: #999;
    border: 1px solid #999;
    width: 1.5em;
    display: flex;
    justify-content: center;
}

/* ーーーーーーーーーーーーーロード画面ーーーーーーーーーーーーーーーーーーー */

#overlay{ 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 80px;
    height: 80px;
    border: 4px #ddd solid;
    border-top: 4px #999 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
.is-hide{
    display:none;
}
  



/* ------------------スマホ化---------------------- */

@media screen and (max-width: 768px) {
    .headerInner button {
        display: none;
    }
    .main {
        height: auto;
        padding: 20px;
    }
    .container {
        display: block;
        max-width: 100%;
        margin: 0;
        height: auto;
    }
    .studyTime {
        width: 100%;
    }
    .studyTime_box {
        margin: 20px 16px;
    }
    .studyTime_barGraph_Box {
        border-radius: 10px;
        background-color: white;
    }
    .number {
        font-size: 18px;
    }
    .pieChart {
        width: 100%;
        margin-top: 16px;
        /* height: 100%; */
        /* height: auto; */
    }
    .pieChart_box {
        margin: 0 8px;
        /* height: auto; */
    }
    .pieChart_box_title {
        font-size: 10px;
    }
    .pieChart_box_legends {
        font-size: 2px;
    }
    .circle {
        width: 8px;
        height: 8px;
    }
    .footer_text {
        height: auto;
        padding-bottom: 70px;
    }
    .footer button {
        display: block;
        border-radius: 30px;
        width: 80%;
        cursor: pointer;
        background-image: linear-gradient(45deg, #0672BE 0%, #4FD7FF 100%);
        font-size: 16px;
        box-shadow: 0 0 20px #0672BE;
        color: #fff;
        border: none;
        margin: 0 auto;
        margin-top: 20px;
    }
    /* モーダル */
    .modalWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-color: #fff;
        display: block;
        margin-top: 10%;
    }
    .modal_top {
        height: 80%;
        width: auto;
        margin: 0 56px;
        display: block;
    }
    .modal_top_left {
        margin-right: 20px;
        width: 100%;
    }
    .modal_top_right {
        width: 100%;
        height: auto;
    }
    .modal_time_text {
        margin-top: 24px;
    }
    .tweetBox {
        width: 100%;
        height: 100px;
    }
    .modal_top_right {
        margin: 0;
    }
}