@import "./inc/colours.scss"; 
.quiz{
    ul{
        list-style: none;
    }
    &--wrapper{
        max-width: 640px;
        margin: 0 auto;
    }
    &--title{
        font-size: 17px;
        line-height: 20px;
        font-weight: 600;
        display: inline-block;
        &::after{
            display: block;
            margin-top: 10px;
            width: 120px;
            height: 2px;
            background-color: #00ab36;
            content: '';
        }
    }
    &__choice{
        display: block;
        border: 1px solid #ebebeb;
        padding: 13px;
        margin: 10px 0;
        font-weight: 600;
        cursor: pointer;
    }
    &__answer{
        display: none;
        background: #f5f5f5;
        padding: 17px;
        border-radius: 3px;
        &--result{
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            padding-bottom: 3px;
            margin-bottom: 10px;
            display: inline-block;
            
        }
        .answer--true{
            border-bottom: 3px solid $true;
        }
        .answer--false{
            border-bottom: 3px solid $false;
        }
    }
    &--true{
        background-color: $true;
        color: #FFF;
    }
    &--false{
        background-color: $false;
        color: #FFF;
    }
    .is__show{
        display: block;
    }
}
