.quiz ul {
  list-style: none;
}
.quiz--wrapper {
  max-width: 640px;
  margin: 0 auto;
}
.quiz--title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.quiz--title::after {
  display: block;
  margin-top: 10px;
  width: 120px;
  height: 2px;
  background-color: #00ab36;
  content: "";
}
.quiz__choice {
  display: block;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin: 10px 0;
  font-weight: 600;
  cursor: pointer;
}
.quiz__answer {
  display: none;
  background: #f5f5f5;
  padding: 17px;
  border-radius: 3px;
}
.quiz__answer--result {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 3px;
  margin-bottom: 10px;
  display: inline-block;
}
.quiz__answer .answer--true {
  border-bottom: 3px solid #287dff;
}
.quiz__answer .answer--false {
  border-bottom: 3px solid #ff5128;
}
.quiz--true {
  background-color: #287dff;
  color: #FFF;
}
.quiz--false {
  background-color: #ff5128;
  color: #FFF;
}
.quiz .is__show {
  display: block;
}
